<!-- Features section -->

<center> <h3> ..... Who This Site is for  .....  </h3> </center>
<hr>
<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2>  💪 </h2>
        <h2 class="h2">Running 40+ <small class="d-none"></small></h2>
        <p>Adults 40-65 wanting sustainable fitness</p>
    </div>
    <div class="col-lg-4">
        <h2> 🍎 </h2>
        <h2 class="h2">Healthy habits <small class="d-none"></small></h2>
        <p>Curious about energy & gut health</p>
    </div>
    <div class="col-lg-4">
        <h2> 💻 </h2>
        <h2 class="h2">Practical Tech <small class="d-none"></small></h2>
        <p>Tech enthusiasts looking for practical projects</p>
    </div>
</div>

<hr>

<div class="row justify-content-center text-center mt-lg-1">
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-5">
      <img src="images/runner.jpg" class="img-fluid rounded-start" alt="Runner">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h3 class="card-title">The Long-Run Method</h3>
        <BR>
        <p class="card-text" style="text-align:justify">Learn how to stay fit, capable, and injury-free for the next decade — sustainable training strategies for runners over 40.</p>
        <div class="d-grid gap-2 d-md-block">
             <button class="btn btn-primary" type="button">Read The Guide &#8594</button>
             <button class="btn btn-primary" type="button">Download PDF &#8595</button>
        </div>
        <BR><BR>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>
